#main-container{
    background-color: #f3e6df;
    height: 100vh;
    width: 100vw; 
    position: absolute;
}

#bg-shape{
    height: 0;
    width: 50vw;
    border-bottom: 100vh solid #e3bea6;
    border-right: 20vw solid transparent;
    position: absolute;
}

#portfolio {
    background-color: #f9f8f5;
    height: 80vh;
    width: 80vw;
    margin-top: 10vh;
    margin-left: 10vw;
    position: absolute;
    border: 5px solid black;
}

#sidebar{
    float: left;
    margin: 0;
    height: 74vh;
    padding: 3vh 3vw;
}

#img-index{ 
    border-radius: 50%;
    height: 100%;
    padding: 0;
}

.nav-item{
    text-align: center;
    border-radius: 50%;
    border: 2px solid #9fabaf;
    height: 10vh;
    width: 10vh;
    margin: 4vh 0;
}


img {
    height: 6vh;
    padding: 2vh 0;
}

#content{
    margin: 3vh 3vw 0 0;
    overflow: scroll;
    font-family: Verdana;
    font-size: large;
    height: 74vh;
}

#fact-button{
    border: solid #9fabaf;
    border-width: 0 1vmin 1vmin 0;
    display: inline-block;
    padding: 1vmin;
    transform: rotate(-45deg);
    background-color: #f9f8f5;
}

#fact-text-div{
    display: inline-block;
    height: 5vh;
    vertical-align: bottom;
    padding-left: 1vw;
}

#fact-text{
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 3vmin;
}

#fact-container {
    margin-top: 20px;
}

input{
    height: 3vh;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #9fabaf;
    background-color: #f9f8f5;
    margin-left: 4px;
}

#main-form{
    padding-left: 1vw;
}

.comment-container{
    border-left: 2px solid #b58171;
    padding-left: 5px;
    margin-left: 20px;
}

p.commenter{
    color: #9fabaf;
    font-style: italic;
}

div.subcontent{
    margin-top: 2vh;
}

p.credit{
    font-size: xx-small;
}